{{>header}}
{{>nav}}
<section class="my-5 container">
    <form method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="Name" name="name">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="IntialBalance" name="intialbalance">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="RemaningBalance" name="remaningbalance">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add customer</button>
        </div>


    </form>
</section>
{{>footer}}