{{>header}}
{{>nav}}
<section class="container my-5">
    <div class="alert alert-danger p-4">
        Not Found<br>
        <a href="/" class="btn btn-success">Back Home</a>
    </div>
</section>
{{>footer}}